@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Scroll behavior */
 html{ scroll-behavior: smooth;}

body {
  
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar {
    z-index: 5;
    border: 0;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.card-img {
    width: 100%;
    height: 20vw;
    object-fit: contain;
}

/* Cursor on library*/
.cursor {
    color: rgb(255, 255, 255);
    animation: blink 0.7s infinite;
}

/* Bakcground di header */
.jumbotron {
    height: 600px;
    background:
        linear-gradient(rgba(43, 43, 43, 0.682),
            rgba(0, 0, 0, 0.682)),
        url("https://scontent.fcgk27-1.fna.fbcdn.net/v/t1.0-9/57821585_2075401482585952_6468992368715497472_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=_wkvH61XupYAX-pbGrV&_nc_ht=scontent.fcgk27-1.fna&oh=9f94094eaae9d361e6ca6c1a823f5d7c&oe=6068345D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

/* ... */


.container-fluid hr {
    border: 3px solid white;
    width: 100%;
    z-index: 2;
}

/* Tentang page */
#tentang {
    z-index: 1;
    margin-top: -10em;
    box-sizing: border-box;
    line-height: 20px;
}

.card-content h1 {
    font-size: 17px;
}

.card-content img {
    height: 10em;
}

.card-content p {
    font-size: 13px;
}

.change {
    transition: 0.3s;
    background-color: white;
    color: black;
}

/* ... */

/* Pembuka/Intro */
.deskripsi h1 {
    font-size: 25px;
}

.deskripsi h2 {
    font-size: 22px;
}

.deskripsi p {
    font-size: 14px;
}

#intro {
    background-color: #f3f4f5;
    padding: 10px;
    box-sizing: content-box;
}

/* ... */

.mt-8 {
    margin-top: 5em;
}
.me-8{
    margin-left:-1em;
}
.none{
    list-style-type: none;
}
#informasi {
    margin-top: -12em;
}